<mat-card class="card">
  <mat-form-field appearance="fill">
    <mat-label>Branch</mat-label>
    <mat-select [value]="branchSelected.name" (selectionChange)="changeBranch($event.value)">
      <mat-option *ngFor="let branch of branches" [value]="branch.name">{{ branch.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<mat-card class="card" *ngFor="let commit of commits">
  <mat-card-content class="content">
    <p class="title-commit">{{ commit.commit.message }}</p>
    <p class="subtitle-commit">By: <a href="/Profile" class="link">{{ commit.commit.author.name }}</a> - {{ commit.commit.author.date | date: 'YYYY-MM-dd' }}</p>
    <p class="field">SHA: {{ commit.sha }} <mat-icon (click)="copySSH(commit.sha)">content_copy</mat-icon></p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-raised-button class="btn">View Detail</button>
  </mat-card-actions>
</mat-card>
