<mat-card *ngIf="!loading">
  <mat-card-header>
    <mat-card-title>{{ repository.name }}</mat-card-title>
    <mat-card-subtitle>{{ repository.description }}</mat-card-subtitle>
    <div class="spacer"></div>
    <div class="owner">
      <img [src]="repository.owner?.avatar_url" [alt]="repository.owner?.login">
    </div>
  </mat-card-header>

  <mat-card-content class="content">
    <mat-chip-list>
      <p class="field">
        <mat-chip class="chip" selected>Owner</mat-chip>
        <a class="link" [href]="repository.owner?.html_url" target="_blank">{{ repository.owner?.login }} <mat-icon>open_in_new</mat-icon></a>
      </p>
      <p class="field">
        <mat-chip class="chip" selected>URL</mat-chip>
        <a class="link" [href]="repository.html_url" target="_blank">{{ repository.html_url }} <mat-icon>open_in_new</mat-icon></a>
      </p>
      <p class="field">
        <mat-chip class="chip" selected>SSH URL</mat-chip>
        <span>{{ repository.ssh_url }} <mat-icon (click)="copySSH()">content_copy</mat-icon></span>
      </p>
      <p class="field">
        <mat-chip class="chip" selected>Branches</mat-chip>
        <a class="link" [href]="branchesURL" target="_blank">{{ branchesLength }} <mat-icon>open_in_new</mat-icon></a>
      </p>
      <p class="field">
        <mat-chip class="chip" selected>Last Commit</mat-chip>
        <a class="link" [href]="lastCommit.html_url" target="_blank">{{ lastCommit.sha }} <mat-icon>open_in_new</mat-icon></a>
      </p>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
